<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SoapMathLibrary/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMathsService"
                contract="MathsService.IMathsService" name="BasicHttpBinding_IMathsService" />
        </client>
    </system.serviceModel>
</configuration>